{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" href="{% static "images/gyapu-logo.ico" %}" type="ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  {% block link %}{% endblock %}

    
</head>
<body>
  <div class="bottom-nav d-block d-lg-none">
    <div class="container-fluid d-flex justify-content-around">
      <div class="home">
        <a href="
          {% if not user_belong_to_store %}
            {% url 'home' %}
          {% else %}
            {% url 'store_dashboard' %}
          {% endif %}
        ">
          <div class="d-flex justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
              class="bi bi-house-door-fill" viewBox="0 0 16 16">
              <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0
                            .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 
                            0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 
                            .5.5h4a.5.5 0 0 0 .5-.5z" />
            </svg>
          </div>
          <p>Home</p>
        </a>
      </div>
      <div class="categories">
        <a href="#">
          <div class="d-flex justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
              class="bi bi-grid-3x3-gap-fill" viewBox="0 0 16 16">
              <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 
                            1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 
                            1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 
                            1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 
                            1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 
                            1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 
                            1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 
                            1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 
                            1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z" />
            </svg>
          </div>
          <p>Categories</p>
        </a>
      </div>
      {% if not user_belong_to_store %}
      <div class="cart">
        <a href="{% url 'cart_detail' %}">
          <div class="d-flex justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart3"
              viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 
                            .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 
                            1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 
                            4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 
                            0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 
                            1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            <span class="bg-warning cart-number m-0">0</span>
          </div>
          <p>Cart</p>
        </a>
      </div>
      {% endif %}
      <div class="profile">
        <a href="{% url 'profile_detail' %}">
          <div class="d-flex justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
              class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 
                            0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
            </svg>
          </div>
          <p>Profile</p>
        </a>
      </div>
    </div>
  </div>


  <nav class="navbar navbar-expand-lg first-nav">
    <div class="container-fluid d-flex">
      <div class="contact-icons ms-4 d-none d-lg-block">
        <div class="d-flex">
          <div class="d-flex">
            <div class="tooltip px-0">
              <img src="{% static "images/icons/contact.svg" %}" alt="phone">
              <span class="tooltiptext uppernavtooltiptext">
                Phone
              </span>
            </div>
            <span class="pt-1">|</span>
          </div>
          <div class="d-flex">
            <div class="tooltip px-0">
              <img src="{% static "images/icons/whatsapp.png" %}" alt="whatsapp">
              <span class="tooltiptext uppernavtooltiptext">
                whatsapp
              </span>
            </div>
            <span class="pt-1">|</span>
          </div>
          <div>
            <div class="tooltip px-0">
              <img src="{% static "images/icons/viber.png" %}" alt="viber">
              <span class="tooltiptext uppernavtooltiptext">
                viber
              </span>
            </div>
          </div>
          <div class="mt-1">
            <a class="phone-number ps-1" href="#">
              015970362/9801855549
            </a>
          </div>
        </div>
      </div>
      <div class="menu flex-grow-1">
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavbar">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#707B8E"
            class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 
                        0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
          </svg>
          <a class="navbar-brand" href="#">Links</a>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link py-0" href="#">Gyapu Rewards</a>
            </li>
            <li class="nav-item">
              {% if user.is_authenticated and user_belong_to_store %}
                <a class="nav-link py-0" href="{% url 'product_add' %}">Add Product</a>
              {% elif not user.is_authenticated %}
                <a class="nav-link py-0" href="{% url 'store_login' %}">Sell Your Product</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>

      <div class="accessibilities">
        <div class="d-flex justify-content-end">
          {% if user.is_authenticated %}
            <div class="tooltip mx-3">
              <a href="{% url 'profile_detail' %}">{{ user.username }}</a>
              <span class="tooltiptext lowernavtooltiptext py-3 px-0" style="width: 125px">
                <ul class="m-0" style="list-style: none">
                  <li class="nav-item py-1">
                    <a class="nav-link m-0" href="{% url 'profile_detail' %}">Profile</a>
                  </li>
                  <li class="nav-item py-1">
                    {% if not user_belong_to_store %}
                    <a class="nav-link m-0" href="{% url 'orders:order_list' %}">Orders</a>
                    {% else %}
                    <a class="nav-link m-0" href="#">Orders</a>
                    {% endif %}
                  </li>
                  <li class="nav-item py-1">
                    <a class="nav-link m-0" href="{% url 'account_logout' %}">Log Out</a>
                  </li>
                </ul>
              </span>
            </div>
          {% else %}
            <div class="d-flex mx-3">
              <a href="{% url "register" %}">Login/Register</a>
            </div>
          {% endif %}
          <div class="tooltip qrtooltip mx-3">
            <a class="nav-link" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-phone"
                viewBox="0 0 16 16">
                <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 
                                0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 
                                2 0 0 0-2-2H5z" />
                <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
              </svg>
            </a>
            <span class="tooltiptext qrtooltiptext py-3">
              <p class="py-1 m-0">iOS & Android</p>
              <div class="qrimg mx-auto">
                <img src="{% static "images/qrcode.png" %}" alt="qrcode">
              </div>
              <p class="py-1 m-0">Scan to download</p>
            </span>
          </div>
          <div class="switch">
            <div class="form-check form-switch ms-3">
              <input class="form-check-input" type="checkbox" id="toggleswitch" value="yes" checked>
              <label class="form-check-label" for="toggleswitch"></label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>


  <nav class="navbar navbar-expand-xl d-flex flex-column second-nav" id="secondNav">
    <div class="container">
      <div class="d-flex flex-row container-fluid gyapu-head">
        <a class="navbar-brand" href="
          {% if not user_belong_to_store %}
            {% url 'home' %}
          {% else %}
            {% url 'store_dashboard' %}
          {% endif %}
        ">
          <img class="img-fluid" id="gyapu-head" src="{% static "images/gyapu-header-lightmode.svg" %}" alt="gyapu brand logo">
        </a>
        <form class="input-group mt-3 mb-3">
          <input type="text" class="form-control" placeholder="I'm searching for...">
          <button class="btn btn-warning" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
              viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 
                            3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 
                            0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
          </button>
        </form>
      </div>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart"
                viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 
                                2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 
                                6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 
                                2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 
                                3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
              </svg>
              Wishlist
            </a>
          </li>
          {% if not user_belong_to_store %}
          <li class="nav-item">
            <div class="tooltip">
              <a class="nav-link" href="{% url 'cart_detail' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart3"
                  viewBox="0 0 16 16">
                  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 
                                    .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 
                                    1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 
                                    4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 
                                    0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 
                                    0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
                Cart
                <sup class="bg-warning cart-number">0</sup>
              </a>
              <span class="tooltiptext lowernavtooltiptext">
                <p>There are <span class="cart-number">0</span> item in the cart</p>
                <a href="{% url 'products' %}">Continue shopping</a>
              </span>
            </div>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

    {% comment %} DISPLAYS CATEGORIES IN NAVBAR DYNAMICALLY {% endcomment %}
    <div class="dropdown-nav">
      <div class="container">
        <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav">
            {% for category in categories %}
              <li class="nav-item dropdown">
                <a class="nav-link dropbtn" href="#">{{ category.name }}</a>
                {% if category.children.exists %}
                  <ul class="dropdown-menu">
                    {% for child in category.children.all %}
                      <li class="dropleft">
                        <a class="dropdown-item dropbtn" href="#">
                          {{ child.name }}
                          {% if child.children.exists %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                              class="bi bi-chevron-right" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 
                                                    6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 
                                                    2.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                          {% endif %}
                        </a>
                        {% if child.children.exists %}
                          <ul class="dropleft-menu">
                            {% for subchild in child.children.all %}
                              <li><a class="dropdown-item" href="#">{{ subchild.name }}</a>

                                <!-- IF NEEDED -->

                                {% comment %} 
                                  {% if subchild.children.exists %}
                                  <ul>
                                    {% for subsubchild in subchild.children.all %}
                                      <li>{{ subsubchild.name }}</li>
                                    {% endfor %} 
                                  </ul>
                                  {% endif %}
                                {% endcomment %}

                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

  </nav>

  {% block path %}
  {% endblock %}

  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success alert-dismissible message" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          {{ message }}
        </div>
      {% elif message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible message" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}


  <section class="feature-list pb-3">
    <div class="top-picks">
      <div class="container mt-3">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </section>



  <footer>
    <div class="contacts">
      <div class="container">
        <div class="d-flex flex-wrap">
          <div class="playstore d-flex justify-content-center align-self-center flex-column mx-5 px-4">
            <p>Inside Deals and Offers!!</p>
            <div class="googleplay">
              <a href="#">
                <img src="{% static "images/googleplay.png" %}">
              </a>
            </div>
            <div class="appstore mt-2">
              <a href="#">
                <img src="{% static "images/appstore.png" %}">
              </a>
            </div>
          </div>
          <div class="links py-4 px-5">
            <p class="contact-head">Links</p>
            <ul class="list-group">
              <li class="list-group-item">
                <a href="#">About Us</a>
              </li>
              <li class="list-group-item">
                <a href="#">Contact Us</a>
              </li>
              <li class="list-group-item">
                <a href="#">Blog</a>
              </li>
              <li class="list-group-item">
                <a href="#">FAQ's</a>
              </li>
              <li class="list-group-item">
                <a href="#">Hiring</a>
              </li>
            </ul>
          </div>
          <div class="policies py-4 px-4">
            <p class="contact-head">Policies</p>
            <ul class="list-group">
              <li class="list-group-item">
                <a href="#">Terms & Conditions</a>
              </li>
              <li class="list-group-item">
                <a href="#">Data Policy</a>
              </li>
              <li class="list-group-item">
                <a href="#">Cookies Policy</a>
              </li>
              <li class="list-group-item">
                <a href="#">Refund Policy</a>
              </li>
              <li class="list-group-item">
                <a href="#">Return Policy</a>
              </li>
              <li class="list-group-item">
                <a href="#">G-Cash Policy</a>
              </li>
            </ul>
          </div>
          <div class="contact-us flex-grow-1 py-4 px-4">
            <p class="contact-head d-flex justify-content-center">Contact Us</p>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-center ms-3">
                <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                    class="bi bi-telephone-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 
                                        2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 
                                        .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 
                                        0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 
                                        1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 
                                        18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                  </svg>
                  Call :9880044444
                </a>
              </li>
              <li class="list-group-item d-flex justify-content-center ms-5 ps-3">
                <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                    class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 
                                        3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 
                                        2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 
                                        11.801V4.697l-5.803 3.546Z" />
                  </svg>
                  Email : info@gyapu.com</a>
              </li>
              <li class="list-group-item d-flex justify-content-center">
                <a href="#" class="p-1">
                  <img src="{% static "images/icons/facebook.png" %}">
                </a>
                <a href="#" class="p-1">
                  <img src="{% static "images/icons/instagram.png" %}">
                </a>
                <a href="#" class="p-1">
                  <img src="{% static "images/icons/twitter.png" %}">
                </a>
                <a href="#" class="p-1">
                  <img src="{% static "images/icons/medium.png" %}">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="mid-footer">
      <div class="container-md px-5">
        <div class="d-flex align-items-center justify-content-between flex-wrap flex-sm-row-reverse">
          <div class="digital-pay">
            <img src="{% static "images/logos/esewa.jpg" %}">
            <img src="{% static "images/logos/fonepay.com-3905626534" %}">
            <img src="{% static "images/logos/ips.jpg" %}">
            <img src="{% static "images/logos/khalti.png" %}">
            <img src="{% static "images/logos/visa.webp" %}">
            <img src="{% static "images/logos/prabhupay.png" %}">
            <img src="{% static "images/logos/ime.jpg" %}">
          </div>
          <div class="copyright">
            <p class="mb-0">Copyright © 2021 Gyapu. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="sitemap">
      <div class="container p-3">
        <div class="row ps-5 ms-3">
          <div class="col-6 col-xl-3">
            <p class="sitemap-head">Sell</p>
            <ul class="list-group">
              <li class="list-group-item">
                <a href="#">Start Selling</a>
              </li>
              <li class="list-group-item">
                <a href="#">Learn to Sell</a>
              </li>
              <li class="list-group-item">
                <a href="#">Independent Seller</a>
              </li>
              <li class="list-group-item">
                <a href="#">Earn More</a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-xl-3">
            <p class="sitemap-head">Shop Here</p>
            <ul class="list-group">
              <li class="list-group-item">
                <a href="#">Women's Fashion</a>
              </li>
              <li class="list-group-item">
                <a href="#">Mobile</a>
              </li>
              <li class="list-group-item">
                <a href="#">Consumer Electronics</a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-xl-3">
            <p class="sitemap-head">Benefits</p>
            <ul class="list-group">
              <li class="list-group-item">
                <a href="#">Cash Back</a>
              </li>
              <li class="list-group-item">
                <a href="#">Daily Deals</a>
              </li>
              <li class="list-group-item">
                <a href="#">Product Policy</a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-xl-3">
            <p class="sitemap-head">About Gyapu</p>
            <ul class="list-group">
              <li class="list-group-item">
                <a href="#">Company Info</a>
              </li>
              <li class="list-group-item">
                <a href="#">News & Media</a>
              </li>
              <li class="list-group-item">
                <a href="#">Gyapu Family Package</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static "js/app.js" %}"></script>
  
  {% block scripts %}
  {% endblock %}

</body>
</html>