{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" href="{% static "images/gyapu-logo.ico" %}" type="ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  {% block link %}{% endblock %}

</head>
<body>
  {% include 'homepage/bottom_navbar.html' %}
  {% include 'homepage/upper_navbar.html' %}
  {% include 'homepage/lower_navbar.html' %}

  {% block path %}
  {% endblock %}

  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success alert-dismissible message" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          {{ message }}
        </div>
      {% elif message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible message" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}


  <section class="feature-list pb-3">
    <div class="top-picks">
      <div class="container mt-3">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </section>


  {% include 'homepage/footer.html' %}


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static "js/app.js" %}"></script>
  
  {% block scripts %}
  {% endblock %}

</body>
</html>