{% comment %} included in _base.html {% endcomment %}

{% load static %}

<footer>
  <div class="contacts">
    <div class="container">
      <div class="d-flex flex-wrap">
        <div class="playstore d-flex justify-content-center align-self-center flex-column mx-5 px-4">
          <p>Inside Deals and Offers!!</p>
          <div class="googleplay">
            <a href="#">
              <img src="{% static "images/googleplay.png" %}">
            </a>
          </div>
          <div class="appstore mt-2">
            <a href="#">
              <img src="{% static "images/appstore.png" %}">
            </a>
          </div>
        </div>
        <div class="links py-4 px-5">
          <p class="contact-head">Links</p>
          <ul class="list-group">
            <li class="list-group-item">
              <a href="#">About Us</a>
            </li>
            <li class="list-group-item">
              <a href="#">Contact Us</a>
            </li>
            <li class="list-group-item">
              <a href="#">Blog</a>
            </li>
            <li class="list-group-item">
              <a href="#">FAQ's</a>
            </li>
            <li class="list-group-item">
              <a href="#">Hiring</a>
            </li>
          </ul>
        </div>
        <div class="policies py-4 px-4">
          <p class="contact-head">Policies</p>
          <ul class="list-group">
            <li class="list-group-item">
              <a href="#">Terms & Conditions</a>
            </li>
            <li class="list-group-item">
              <a href="#">Data Policy</a>
            </li>
            <li class="list-group-item">
              <a href="#">Cookies Policy</a>
            </li>
            <li class="list-group-item">
              <a href="#">Refund Policy</a>
            </li>
            <li class="list-group-item">
              <a href="#">Return Policy</a>
            </li>
            <li class="list-group-item">
              <a href="#">G-Cash Policy</a>
            </li>
          </ul>
        </div>
        <div class="contact-us flex-grow-1 py-4 px-4">
          <p class="contact-head d-flex justify-content-center">Contact Us</p>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-center ms-3">
              <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                  class="bi bi-telephone-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 
                                      2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 
                                      .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 
                                      0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 
                                      1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 
                                      18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                </svg>
                Call :9880044444
              </a>
            </li>
            <li class="list-group-item d-flex justify-content-center ms-5 ps-3">
              <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                  class="bi bi-envelope-fill" viewBox="0 0 16 16">
                  <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 
                                      3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 
                                      2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 
                                      11.801V4.697l-5.803 3.546Z" />
                </svg>
                Email : info@gyapu.com</a>
            </li>
            <li class="list-group-item d-flex justify-content-center">
              <a href="#" class="p-1">
                <img src="{% static "images/icons/facebook.png" %}">
              </a>
              <a href="#" class="p-1">
                <img src="{% static "images/icons/instagram.png" %}">
              </a>
              <a href="#" class="p-1">
                <img src="{% static "images/icons/twitter.png" %}">
              </a>
              <a href="#" class="p-1">
                <img src="{% static "images/icons/medium.png" %}">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="mid-footer">
    <div class="container-md px-5">
      <div class="d-flex align-items-center justify-content-between flex-wrap flex-sm-row-reverse">
        <div class="digital-pay">
          <img src="{% static "images/logos/esewa.jpg" %}">
          <img src="{% static "images/logos/fonepay.com-3905626534" %}">
          <img src="{% static "images/logos/ips.jpg" %}">
          <img src="{% static "images/logos/khalti.png" %}">
          <img src="{% static "images/logos/visa.webp" %}">
          <img src="{% static "images/logos/prabhupay.png" %}">
          <img src="{% static "images/logos/ime.jpg" %}">
        </div>
        <div class="copyright">
          <p class="mb-0">Copyright © 2021 Gyapu. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="sitemap">
    <div class="container p-3">
      <div class="row ps-5 ms-3">
        <div class="col-6 col-xl-3">
          <p class="sitemap-head">Sell</p>
          <ul class="list-group">
            <li class="list-group-item">
              <a href="#">Start Selling</a>
            </li>
            <li class="list-group-item">
              <a href="#">Learn to Sell</a>
            </li>
            <li class="list-group-item">
              <a href="#">Independent Seller</a>
            </li>
            <li class="list-group-item">
              <a href="#">Earn More</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-xl-3">
          <p class="sitemap-head">Shop Here</p>
          <ul class="list-group">
            <li class="list-group-item">
              <a href="#">Women's Fashion</a>
            </li>
            <li class="list-group-item">
              <a href="#">Mobile</a>
            </li>
            <li class="list-group-item">
              <a href="#">Consumer Electronics</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-xl-3">
          <p class="sitemap-head">Benefits</p>
          <ul class="list-group">
            <li class="list-group-item">
              <a href="#">Cash Back</a>
            </li>
            <li class="list-group-item">
              <a href="#">Daily Deals</a>
            </li>
            <li class="list-group-item">
              <a href="#">Product Policy</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-xl-3">
          <p class="sitemap-head">About Gyapu</p>
          <ul class="list-group">
            <li class="list-group-item">
              <a href="#">Company Info</a>
            </li>
            <li class="list-group-item">
              <a href="#">News & Media</a>
            </li>
            <li class="list-group-item">
              <a href="#">Gyapu Family Package</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>