{% extends '_base.html' %} 
{% load static %}

{% block title %}Home{% endblock title %} 

{% block content %}
  <h1>Homepage</h1>
  {% for product in product_list %}
    <div>
      {% if product.primary_image_url %}
        <img src="{{ product.primary_image_url }}" alt="{{ product.name }}">
      {% else %}
        <img src="{% static 'images/placeholder.png' %}" alt="Placeholder Image">
      {% endif %}
      <h2><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h2>
    </div>
  {% endfor %}
{% endblock content %}
