{% comment %} included in _base.html {% endcomment %}

{% load static %}

<nav class="navbar navbar-expand-xl d-flex flex-column second-nav" id="secondNav">
  <div class="container">
    <div class="d-flex flex-row container-fluid gyapu-head">
      <a class="navbar-brand" href="
        {% if not user_belong_to_store %}
          {% url 'home' %}
        {% else %}
          {% url 'store_dashboard' %}
        {% endif %}
      ">
        <img class="img-fluid" id="gyapu-head" src="{% static "images/gyapu-header-lightmode.svg" %}" alt="gyapu brand logo">
      </a>
      <form class="input-group mt-3 mb-3">
        <input type="text" class="form-control" placeholder="I'm searching for...">
        <button class="btn btn-warning" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 
                          3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 
                          0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg>
        </button>
      </form>
    </div>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart"
              viewBox="0 0 16 16">
              <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 
                              2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 
                              6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 
                              2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 
                              3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
            </svg>
            Wishlist
          </a>
        </li>
        {% if not user_belong_to_store %}
        <li class="nav-item">
          <div class="tooltip">
            <a class="nav-link" href="{% url 'cart_detail' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart3"
                viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 
                                  .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 
                                  1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 
                                  4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 
                                  0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 
                                  0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
              </svg>
              Cart
              <sup class="bg-warning cart-number">0</sup>
            </a>
            <span class="tooltiptext lowernavtooltiptext">
              <p>There are <span class="cart-number">0</span> item in the cart</p>
              <a href="{% url 'products' %}">Continue shopping</a>
            </span>
          </div>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>

  {% comment %} DISPLAYS CATEGORIES IN NAVBAR DYNAMICALLY {% endcomment %}
  <div class="dropdown-nav">
    <div class="container">
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav">
          {% for category in categories %}
            <li class="nav-item dropdown">
              <a class="nav-link dropbtn" href="#">{{ category.name }}</a>
              {% if category.children.exists %}
                <ul class="dropdown-menu">
                  {% for child in category.children.all %}
                    <li class="dropleft">
                      <a class="dropdown-item dropbtn" href="#">
                        {{ child.name }}
                        {% if child.children.exists %}
                          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                            class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 
                                                  6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 
                                                  2.354a.5.5 0 0 1 0-.708z" />
                          </svg>
                        {% endif %}
                      </a>
                      {% if child.children.exists %}
                        <ul class="dropleft-menu">
                          {% for subchild in child.children.all %}
                            <li><a class="dropdown-item" href="#">{{ subchild.name }}</a>

                              <!-- IF NEEDED -->

                              {% comment %} 
                                {% if subchild.children.exists %}
                                <ul>
                                  {% for subsubchild in subchild.children.all %}
                                    <li>{{ subsubchild.name }}</li>
                                  {% endfor %} 
                                </ul>
                                {% endif %}
                              {% endcomment %}

                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

</nav>