{% extends "_base.html" %} 
{% block title %} Confirm Order {% endblock title %}

{% block content%}
<h2 class="mb-5">Order Confirmation</h2>
<div class="mb-3">
  <form method="post">
    {% csrf_token %}
    <div class="mb-5">
      <h4>Shipping Address</h4>
        {% if addresses %}
          <table class="table">
            {% for address in addresses %}
              <tr>
                <td>
                  <label>
                    <input type="radio" name="selected_address" value="{{ address.id }}" {% if forloop.first %}checked{% endif %}>
                    {{address.user.full_name }}--> {{ address.province }}, {{ address.city }}-{{ address.tole }}, {{ address.area }}
                  </label>
                </td>
              </tr>
            {% endfor %}
          </table>
        {% else %}
          <h6 class="text-danger">No shipping address. Please add shipping address to continue.</h6>
        {% endif %}
    </div>

    <div class="mb-5">
      <h4>Payment Method</h4>
      {% for field in payment_form %}
      <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field }}
      </div>
      {% endfor %}
    </div>
    {% if addresses %}
      <div class="d-flex">
        <button type="submit" name="confirm_order" class="btn btn-sm btn-warning">Place Order</button>
        <a href="{% url 'cart_detail' %}" class="ms-3 mt-2">No, Go Back to Order List</a>
      </div>
    {% endif %}
  </form>
  {% if not addresses %}
    <div class="d-flex">
      <a href="{% url 'address_add' %}?source=checkout"><button class="btn btn-sm btn-warning">Add Address</button></a>
      <a href="{% url 'cart_detail' %}" class="ms-3 mt-2">No, Go Back to Order List</a>
    </div>
  {% endif %}
  
</div>
{% endblock content %}