{% extends "_base.html" %} 
{% block title %} Confirm Order {% endblock title %}

{% block content%}
<h2>Order Confirmation</h2>
<div class="mb-3">
  <p>Are you sure you want to place order?</p>
  <div class="d-flex">
    <form method="post">
      {% csrf_token %}
      <button type="submit" name="confirm_order" class="btn btn-sm btn-warning">Place Order</button>
    </form>
    <a href="{% url 'cart_detail' %}" class="ms-3 mt-2">No, Go Back to Order List</a>
  </div>
</div>
{% endblock content %}