{% extends "_base.html" %} 
{% block title %} Store Signup {% endblock title %}

{% block content%}
<h2>Sign Up as a Store</h2>
<div class="mb-3">
  <form method="post">
    {% csrf_token %} {% for field in form %}
    <div class="mb-3">
      <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
      {{ field }}
    </div>
    {% endfor %}
    <div>
      <button type="submit" class="btn btn-warning">Sign Up</button>
      <span>Already have an account? <a href="{% url 'store_login' %}">Sign In</a></span>
    </div>
  </form>
</div>
{% endblock content %}
