{% extends '_base.html' %} 
{% load static %}

{% block title %}
  Password Change
{% endblock title %}

{% block content %}
<div>
  <h2>Change Password</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
      <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
      {{ field }}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-warning">Change Password</button>
    <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
  </form>
</div>

{% endblock content %}