{% extends "_base.html" %}
{% load static %}
{% block title %} 
Gyapu - Account
{% endblock title %} 

{% block link %}
<link rel="stylesheet" href="{% static 'css/account.css' %}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
{% endblock link %}

{% block path %}
<div class="path">
  <div class="container pt-2">
    <div class="d-flex ms-xl-5">
      <div class="d-none d-md-block">
        <div class="d-flex">
          <div class="path-home">
            <a href="./index.html">
              <div class="d-flex">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-house-door-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0
                    .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 
                    0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 
                    .5.5h4a.5.5 0 0 0 .5-.5z"
                  />
                </svg>
              </div>
            </a>
          </div>
          <div class="path-arrow pt-1 ps-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="12"
              fill="currentColor"
              class="bi bi-chevron-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </div>
        </div>
      </div>

      <div class="d-block d-md-none pt-0 pe-1">
        <div class="path-left-arrow">
          <a href="./index.html">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-arrow-left"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
              />
            </svg>
          </a>
        </div>
      </div>

      <div class="path-body ps-1">
        <p>Account</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="register-login p-3">
  <div class="container-xxl d-none d-lg-block">
    <div class="row justify-content-center">
      <div class="card-box col-4">
        <div class="download-block p-4 mx-2">
          <div class="download-text">
            <div class="download">DOWNLOAD GYAPU APP</div>
            <div class="ampercent py-2">&</div>
            <div class="get">GET EXCITING DEALS AND OFFERS</div>
          </div>
          <div class="qr-image my-4">
            <img src="{% static "images/qrcode.png" %}" alt="qrcode" />
          </div>
          <div
            class="register-download-link d-flex justify-content-between my-5"
          >
            <a class="text-decoration-none" href="#">http://onelink.to/gyapu</a>
            <a class="text-decoration-none" href="#">copy</a>
          </div>
        </div>
      </div>

      <div class="card-box col-4">
        <div class="register-block py-4 px-3 mx-2">
          <h3>REGISTER</h3>
          <form action="{% url 'account_signup' %}" method="POST">
            {% csrf_token %}
            <div class="mb-2 mt-3">
              <label for="full_name" class="form-label">NAME</label>
              <input
                type="text"
                class="form-control"
                id="full_name"
                name="full_name"
                required
              />
            </div>
            <div class="mb-2">
              <label for="mobile" class="form-label">MOBILE</label>
              <div class="d-flex">
                <select class="form-select me-1">
                  <option selected>+977</option>
                </select>
                <input
                  type="text"
                  class="form-control"
                  id="mobile"
                  name="mobile"
                  required
                />
              </div>
            </div>
            <div class="mb-2">
              <label for="email" class="form-label"
                >EMAIL ADDRESS</label
              >
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                required
              />
            </div>
            <div class="pwd mb-2">
              <label for="password1" class="form-label">PASSWORD</label>
              <input
                type="password"
                class="form-control"
                id="password1"
                name="password1"
                required
              />
              {% comment %} <img
                class="password-visibility"
                id="register-pwd-visibility-image"
                src="{% static "images/account/visibility_off.svg" %}"
                alt="password visibility"
              /> {% endcomment %}
            </div>
            <div class="pwd mb-2">
              <label for="password2" class="form-label"
                >CONFIRM PASSWORD</label
              >
              <input
                type="password"
                class="form-control"
                id="password2"
                name="password2"
                required
              />
              {% comment %} <img
                class="password-visibility"
                id="register-pwd-confirm-visibility-image"
                src="{% static "images/account/visibility_off.svg" %}"
                alt="password visibility"
              /> {% endcomment %}
            </div>
            <div class="mb-2">
              <label
                for="register-referral"
                class="form-label register-referral"
                >REFERRAL CODE (OPTIONAL)</label
              >
              <input
                type="text"
                class="form-control"
                id="register-referral"
                name="register-referral"
              />
            </div>

            <!-- google recaptcha -->
            <div
              class="g-recaptcha"
              data-sitekey="6LfPcrcoAAAAAIiDgYnhQKZeiiyJWtWqGzJjfZ1g"
            ></div>

            <div class="form-check mt-3 mb-2">
              <div class="terms">
                <p>By Clicking Register, You Agree To Our Terms & Conditions</p>
              </div>
              <div class="register-checkbox">
                <label class="form-check-label">
                  <input
                    class="form-check-input ms-1 me-2 mt-2"
                    type="checkbox"
                    name="acceptance"
                  />
                  I Want To Accept Promotional Emails And Offers.
                </label>
              </div>
            </div>
            <div>
              <button type="submit">Register</button>
            </div>
          </form>
        </div>
      </div>

      <div class="card-box col-4">
        <div class="login-block py-4 px-3 mx-2">
          <h3>LOGIN</h3>
          <form method='POST' action="{% url 'account_login' %}?next={{ request.GET.next }}">
            {% csrf_token %}
            <div class="mb-2 mt-3">
              <label for="login" class="form-label">EMAIL</label>
              <input
                type="email"
                class="form-control"
                id="login"
                name="login"    
                required            
              />
              {% comment %} {{ form.email }} {% endcomment %}
            </div>
            <div class="pwd">
              <label for="password" class="form-label">PASSWORD</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
              />
              {% comment %} {{ form.password }} {% endcomment %}
              {% comment %} <img
                class="password-visibility"
                id="login-pwd-visibility-image"
                src="{% static "images/account/visibility_off.svg" %}"
                alt="password visibility"
              /> {% endcomment %}
            </div>
            <div class="forgot-pwd">
              <a href="#"> Forgot Password? </a>
            </div>
            <div>
              <button type="submit">Login</button>
            </div>
          </form>

          <div class="or-login my-2">OR LOGIN WITH</div>
          <div class="or-login-choices">
            <div class="row">
              <div class="col facebook">
                <span>
                  <img src="{% static "images/account/facebook.png" %}" alt="facebook logo" />
                </span>
                Facebook
              </div>
              <div class="col google">
                <span class="pe-3">
                  <img src="{% static "images/account/google.png" %}" alt="google logo" />
                </span>
                Google
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-block d-lg-none">
    <div class="accordion" id="registerLoginAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Login
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="headingOne"
          data-bs-parent="#registerLoginAccordion"
        >
          <div class="accordion-body">
            <form action="#">
              <div class="mb-2 mt-3">
                <label for="login-email" class="form-label">EMAIL</label>
                <input
                  type="email"
                  class="form-control"
                  id="accordion-login-email"
                  name="login-email"
                />
              </div>
              <div class="pwd">
                <label for="login-pwd" class="form-label">PASSWORD</label>
                <input
                  type="password"
                  class="form-control"
                  id="accordion-login-pwd"
                  name="login-pwd"
                />
                {% comment %} <img
                  class="password-visibility"
                  id="accordion-login-pwd-visibility-image"
                  src="{% static "images/account/visibility_off.svg" %}"
                  alt="password visibility"
                /> {% endcomment %}
              </div>
              <div class="forgot-pwd">
                <a href="#"> Forgot Password? </a>
              </div>
              <div>
                <button type="submit">Login</button>
              </div>
            </form>

            <div class="or-login my-2">OR LOGIN WITH</div>
            <div class="or-login-choices">
              <div class="row">
                <div class="col facebook">
                  <span>
                    <img
                      src="{% static "images/account/facebook.png" %}"
                      alt="facebook logo"
                    />
                  </span>
                  Facebook
                </div>
                <div class="col google">
                  <span class="pe-3">
                    <img src="{% static "images/account/google.png" %}" alt="google logo" />
                  </span>
                  Google
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Sign Up
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse show"
          aria-labelledby="headingTwo"
          data-bs-parent="#registerLoginAccordion"
        >
          <div class="accordion-body">
            <form action="#">
              <div class="mb-2 mt-3">
                <label for="register-name" class="form-label">NAME</label>
                <input
                  type="text"
                  class="form-control"
                  id="accordion-register-name"
                  name="register-name"
                />
              </div>
              <div class="mb-2">
                <label for="register-mobile" class="form-label">MOBILE</label>
                <div class="d-flex">
                  <select class="form-select me-1">
                    <option selected>+977</option>
                  </select>
                  <input
                    type="text"
                    class="form-control"
                    id="accordion-register-mobile"
                    name="register-mobile"
                  />
                </div>
              </div>
              <div class="mb-2">
                <label for="register-email" class="form-label"
                  >EMAIL ADDRESS</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="accordion-register-email"
                  name="register-email"
                />
              </div>
              <div class="pwd mb-2">
                <label for="register-pwd" class="form-label">PASSWORD</label>
                <input
                  type="password"
                  class="form-control"
                  id="accordion-register-pwd"
                  name="register-pwd"
                />
                {% comment %} <img
                  class="password-visibility"
                  id="accordion-register-pwd-visibility-image"
                  src="{% static "images/account/visibility_off.svg" %}"
                  alt="password visibility"
                /> {% endcomment %}
              </div>
              <div class="pwd mb-2">
                <label for="register-confirm-pwd" class="form-label"
                  >CONFIRM PASSWORD</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="accordion-register-confirm-pwd"
                  name="register-confirm-pwd"
                />
                {% comment %} <img
                  class="password-visibility"
                  id="accordion-register-pwd-confirm-visibility-image"
                  src="{% static "images/account/visibility_off.svg" %}"
                  alt="password visibility"
                /> {% endcomment %}
              </div>
              <div class="mb-2">
                <label
                  for="register-referral"
                  class="form-label register-referral"
                  >REFERRAL CODE (OPTIONAL)</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="accordion-register-referral"
                  name="register-referral"
                />
              </div>

              <!-- google recaptcha -->
              <div
                class="g-recaptcha"
                data-sitekey="6LfPcrcoAAAAAIiDgYnhQKZeiiyJWtWqGzJjfZ1g"
              ></div>

              <div class="form-check mt-3 mb-2">
                <div class="terms">
                  <p>
                    By Clicking Register, You Agree To Our Terms & Conditions
                  </p>
                </div>
                <div class="register-checkbox">
                  <label class="form-check-label">
                    <input
                      class="form-check-input ms-1 me-2 mt-2"
                      type="checkbox"
                      name="acceptance"
                    />
                    I Want To Accept Promotional Emails And Offers.
                  </label>
                </div>
              </div>
              <div>
                <button type="submit">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'js/account.js' %}"></script>
{% endblock %}
