{% extends "_base.html" %} 
{% block title %} Add Product {% endblock title %}

{% block content%}
<h2>Add Product</h2>
<div class="mb-3">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} 
    {% for field in form %}
    <div class="mb-3">
      <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
      {{ field }}
    </div>
    {% endfor %}

    {% comment %} for adding multiple product images {% endcomment %}
    <div id="image_formset">
      {% comment %} got from django's default form {% endcomment %}
      <input type="hidden" name="images-TOTAL_FORMS" value="5" id="id_images-TOTAL_FORMS">
      <input type="hidden" name="images-INITIAL_FORMS" value="0" id="id_images-INITIAL_FORMS">
      <input type="hidden" name="images-MIN_NUM_FORMS" value="0" id="id_images-MIN_NUM_FORMS">
      <input type="hidden" name="images-MAX_NUM_FORMS" value="1000" id="id_images-MAX_NUM_FORMS">

      {% comment %} handled by js function addProductImage {% endcomment %}
    </div> 

    <div><button type="button" class="btn btn-sm btn-secondary" id="add_image" onclick="addProductImage()">Add Image</button></div>
    <button type="submit" class="btn btn-warning mt-3">Add Product</button>
  </form>
</div>

{% endblock content %}