{% extends '_base.html' %}

{% block title %}{{ product.name }}{% endblock title %}

{% block content %}
  <div class="product-detail mb-3">
    {% for image in product.images.all %}
      <img class="productimage" src="{{ image.image.url}}" alt="{{ product.name }}">
    {% endfor %}
    <h2><a href="#">{{ product.name }}</a></h2>
    <p>Description: {{ product.description }}</p>
    <p>Price: {{ product.price }}</p>
    {% if product.discount_percentage > 0 %}
      <p>Discount: {{ product.discount_percentage }}%</p>
      <p>Total Amount: {{ product.total_amount }}</p>
    {% endif %}
    <p>Quantity: 
      {% if is_store_user %}
        {{ product.stock }}
      {% else %}
        <button class="btn btn-sm btn-warning" onclick="decrementQuantity()" data-uuid="{{ product.pk }}">-</button>
        <span id="quantity{{ product.pk }}">1</span>
        <button class="btn btn-sm btn-warning" onclick="incrementQuantity({{ product.stock }})" data-uuid="{{ product.pk }}">+</button>
      {% endif %}
    </p>
    <p>Category:
      {% for ancestor in product.category.get_ancestors %}
        {{ ancestor }} /
      {% endfor %}
      {{ product.category }}
    </p>

    {% if is_store_user %}
      <a href="{% url 'product_update' product.id %}" class="btn btn-warning">Edit</a>
      <a href="{% url 'product_delete' pk=product.pk %}" class="btn btn-danger">Delete</a>
    {% else %}
      <p>Store: {{ product.store }}</p>
      <form method="post" action={% url 'add_to_cart' product.pk %}>
        {% csrf_token %}
        <input type="hidden" id="quantity_input{{ product.pk }}" name="quantity" value="1">
        <button type="submit" class="btn btn-sm btn-warning">Add to Cart</button>
      </form>
    {% endif %}
  </div>

  
{% endblock content %}
