{% extends '_base.html' %}

{% block title %}{{ product.name }}{% endblock title %}

{% block content %}
  <div class="product-detail">
    {% for image in product.images.all %}
      <img class="productimage" src="{{ image.image.url}}" alt="{{ product.name }}">
    {% endfor %}
    <h2><a href="">{{ product.name }}</a></h2>
    <p>Description: {{ product.description }}</p>
    <p>Price: {{ product.price }}</p>
    <p>Discount percentage: {{ product.discount_percentage }}</p>
    <p>Stock: {{ product.stock }}</p>
    <p>Category: {{ product.category }}</p>
  </div>
{% endblock content %}
