{% extends '_base.html' %}

{% block title %}{{ user.username }} Addresses{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between mb-5">
    <h2>Address Book</h2>
    <a href="{% url 'address_add' %}" class="text-danger link-underline link-underline-opacity-0"><strong>+ Add</strong></a>
  </div>
  {% if address_list %}
    <table class="table">
      <tbody>
        {% for address in address_list %}
          <tr>
            <td>{{ address.province }}, {{ address.city }}-{{ address.tole }}, {{ address.area }}</td>
            <td><a href="{% url 'address_update' address.id %}">Edit</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h4 class="text-danger">No address available.</h4>
  {% endif %}
  
{% endblock %}
